<div style="padding: 16px 16px;">
    
<p> <b>Sirve para instalar json-server solo para el ambiente desarrollo</b>  npm install --save-dev json-server</p>
<br>
<p>   Algunas personas crean sus variables de entorno en un archivo <b> .env</b> </p>
<br>
<p>Para manejar las variables de entorno, creamos una carpeta environments, y creamos dos archivos. Para llamar esos archivos
    entramos a nuestros angular.json y vamos a configurations-productions, agregamos la propiedad "fileReplacements", en esa propiedad se hace el ajuste
</p>

<br>

<p>Para crear nuestras interfaces nos ayudamos de la extension <b>PASTE JSON CODE</b></p> 
<br>
<p>cuando las rutas son personalizadas por <b>ID</b>, en el routerLink se ponen completa <b>'/heroes/edit'</b></p>
<br>
<p>pipe-catchError // of sirve para retornar observable que retorna un valor </p>
<br>
<p>activatedRouted : contiene informacion sobre la ruta</p>

<br>
<p> <b>dialog</b> es un modal</p>

<br>

<p>
    post: crear uno nuevo
    put: reemplazar todo el recurso
    path: actualizaciones parciales
    delete: eliminar
</p>

<br>
<p><b>map - rxjs</b> me sirve para transformar la respuesta</p>

<br>
<p>SIEMPRE TRABAJAR CON FORMULARIOS REACTIVOS</p>

<br>
<p>El ngModel es mejor evitar utilizarlos, siempre formularios reactivos</p>

<br>

<p>superhero: new FormControl  string  ('' , "llaves" nonNullable: true "llaves" ),   indica que siempre va ser null </p> <br>

<p>usamos <b>as</b> para decirle que se comporte como nuestro objeto (interfaz)</p>

<br>

<p>Guard son protectores de rutas como un firewall, se pueden colocar en cualquier ruta padre o hija. es flexible, puede recibir boleean, promesas, etc. <br>
EN LUGAR DE INYECTARLOS DE MANERA TRADICIONAL EN EL CONSTRUCTOR, LO COLOCAMOS EN OTRO LUGAR EN NUESTRO ROUTER. <br>
ALGUNAS PERSONAS COLOCAN LOS GUARDS DENTRO DE LA CARPETA SERVICIOS <br>

LOS GUARDA SON SERVICIOS Y DEBE TENER POR LO MENOS UNA INTERFAZ

</p>

<br>

<p><b>RXJS MAP</b> me ayuda para transformar la data </p> <br>

<p>Cuando queremos ver si una persona esta logueada
    y mos trar cierta inforamción no es recomendable
    hacerlo desde el app.component.ts por que puede ser que se llegue a mostrar algo
    de informacion, por eso se recomienda usar los <b>GUARDS</b>
</p>


<br>
<p>Los <b>GUARDS</b> son servicios, pero requiere por lo menos una interfaz. Debemos importar: <br>
    <b>CanActivateFn:</b> activa la ruta en particular <br>
    <b>CanMatchFn:</b> pueden entrar a la ruta si hacen cierto match <br>
</p>

<br>

<p>

    se importa el "inject" de angular/core para poder inyectar dependencias sin constructor de clase

</p>


<br>

<p>
    cuando trabajamos con TEMPLATE, todas las validaciones son por el HTML. Cuando ya son validaciones personalizadas ya se hace complicado.
</p>

</div>