<div>
    <h2>LOS GENERICOS o GENERIC</h2>
    <p>Es algo netamente de TS, cuando se compila a JS a no existe tal cosntruccion, es algo similar que pasa con las interfaces. Estan disponiblrs enm C# y JAVA</p>
    <p>Los generic sirve para aprovechar codigo sin tener que duplicarlo, por ejemplo. Tenemos una funcion que recibe un string y lo devuelve. Pero si por ejemplo ahora  queremos recibir un numero o un array
        tendriamos que duplicar o triplicar la funcion e indicarle el tipo de dato. En este caso nos ayuda los generics, por que al usarlo le decimos a nuestra funcion que 
        la el tipo de dato que recibe es maleable. Osea puede admitir diversos tipos, y eso nos ayuda el intellinse
    </p>
</div>
