<div>
    <h1>Introducción a TypeScript</h1>
    <ul style="margin-bottom: 24px;">
      <li>Tipos básicos</li>
      <li>Objetos, arreglos e interfaces</li>
      <li>Funciones y sus argumentos</li>
      <li>Desestructuración de arreglos y objetos</li>
      <li>Importaciones y exportaciones</li>
      <li>Clases, constructores</li>
      <li>Tipos genéricos</li>
      <li>Decoradores</li>
      <li>Encadenamiento opcional</li>
    </ul>
    
    <div style="margin-bottom: 24px;">
      <h4>MODULOS</h4>
      <p>Agrupacion encapsulada de un procedimiento</p>
    </div>

    <div style="margin-bottom: 24px;">
        <h4>Destructuracion</h4>
        <p>No es un tema netamente de TS, pero se usa mucho, se puede aplicar en varios lugares como objetos, argumentos de las funciones, arreglos</p>

        <b>
          Se recomienda pasar un maximo de 3 argumentos en las funciones o metodo, basado en el clean code, 
          si es mas de 3, debemos pasarlo a un objeto
        </b>
    </div>

    <div style="margin-bottom: 24px;">
      <h4>IMPORTACIONES Y EXPORTACIONES</h4>
      <p>Agrupacion encapsulada de una funcionalidad, solamente lo que exportamos se expone al mundo exterior(lo que esta fuera de este archivo) </p>
    </div>
  </div>