<h1>Conceptos que salieron en la elaboración de la aplicación de gifts</h1>
<p>Decorador ViewChild o viewChildren: son decoradores, que permite obtener instancias de elementos nativos, directivas y componentes, en el mismo template </p>

<br>
<h2>Cuando queremos traer informacion de un servicio que es privado, no podemos utilizarlo directamente en el HTML. debemoscrear un getter. <br> get tags()</h2>

<br>

<h2>pipes: objeto que nos permite transformar de manera visual la inormación que mostraremos en pantalla sin mutar la data real "|"</h2>
<br>
<h2>subscribe: Observable es un objeto el cual a lo largo del tiempo, puede estar emitiendo diferentes valores. cuando hablamos 
    de suscribirnos, significa estar escuchando las emisiones de ese objeto a lo largo de su vida </h2>

    <br>
<h2>Las interfaces nos ayuda a saber como luce un objeto pero no fuerza que luzca de esa manera </h2>
<br>
<h2>Nos permite almacenar informacion persistente: localstorage, sesionstorage y las cookies. Solo soporta strings. 
    <br> El local y el sesion tiene mas capacidad para almacenar que las cookies. Normalmente el local y el sesion puede
    almacenar hasta 50mb en los navegadores. el local es persistente asi reinicien el equipo o cierren la ventana del navegador.
    El sesion se borra al momento de cerrar la ventana. La informacion de la cookies viajan al backend.
</h2>
