<div>
  <h1>{{title}}</h1>
  <h1>EXPANDIR BASES SOBRE ANGULAR</h1>
  <p>temas que veremos en esta seccion:</p>
  <ol>
    <li>profundizar un poco mas en los modulos</li>
    <li>formsModule</li>
    <li>ngModel</li>
    <li>@Inputs</li>
    <li>@outputs</li>
    <li>Servicios</li>
    <li>Metodos de servicio</li>
    <li>Depuraciones</li>
    <li>otros</li>
  </ol>

  <b>cuando ingresamos el comando npm install, ayuda a reconstruir nuestro modulos apartir del package.json</b>

  <br>
  <br>
  <h1>Servicios</h1>
  <p>Nos ayuda a compartir la informacion centralizada a varios componentes, a traves de la injeccion de dependencias</p>
  <br>
  <p>uuid: usamos esta libreria para generar id unicos</p>

  <br>
  <h1><b>Se recomienda por buenas practicas que los servicios sean privados</b></h1>
  <br>
  <h1>Tree Shaking: concepto que  decarta codigo que no se usa en la aplicacion, para obtener una aplicacion liviana.</h1> <br>
  ASSETS: se guardan cosas de la aplicacion que no van a cambiar imagenes,loaders,css,js
</div>

<br>

<app-main-dbz />