<h2 class="mt-4">Conceptos</h2>
<p>Solo usamos unicamente un  <b>forRoot</b> en toda nuestra aplicación, para el resto se usa <b>forChild</b></p> <br>
<p>Creamos un componente que viene con las rutas <b>router-outlet</b>, este se encarga de mostrar el contenido según la URL</p><br>
<p>Cuando trabajamos de manera encapsulada, debemos importar <b>RouterModule</b> de  angular/router</p> <br>
<p>Para activar el boton según la URL, debemos agregar la porpiedad <b>routerLinkActive</b> y la clase que qeremos ponerle</p> <br>
<p>Cuando colocamos el path vacio, para evitar problemas al controlar las rutas activas agregamos  [routerLinkActiveOptions]="exact: true", para decirle que
el path debe ser exactamente vacio. va entre llaves</p> <br>
<p>Cada ruta puede tener un router interno</p><br>
<p>LazyLoad, carga perezosa de modulos</p> <br>
<p>El observable Hell, es cuando tenemos un observable dentro de otro observable</p> <br>
<h1>Es importante desuscribirnse para ahorrar memoria</h1>
<p>operadores de RXJS - metodo pipes , operadores:  los TAP(rxjs) dispara efectos secundarios</p> <br>
<p>SwitchMap RXJS: recibe valor anterior, y regresa un nuevo observable - realiza un observable en basado en el observable anterior</p><br>  
<p>map RXJS: nos sirve a transformar la información</p> <br>
<p>al usar country.translations['ara'].common, los corchetes indicamos "SI ENCUENTRA" LA PROPIEDAD</p><br>
<p>ng g c shared/components/loadingSpiner --skip-tests con este comando evitamos crear un ts para pruebas</p><br>
<p>Para ordenar de forma alfabetica, seleccionamos los componentes declarados y pones Ctrl + shit + p, y escribimos sort line ascending</p><br>
<p>DeBounce: cuando la persona deja de escribir se hace la peticion</p> <br>
<p>Subject: es un tipo especial de observable de RXJS, pueden aplicar pipes, se peude hacer todo lo quese hae en un observable</p><br>
<p>OnInit() se ejecuta cuando el componente se inicializa, especificiamente despues del constructor</p><br>
<p>pipes: operador "padre"</p>
<p>debounceTime() operador de rxjs, pide dos datos, uno es obligatorio el otro es opcional</p>
<p>OnDestroy() metodo que se llamara cuando el componente es destruido</p><br>
<h1>Siempre que se hace un subscribe, tenemos que desuscribirnos para evitar la fuga de memoria. NO APLICA PARA EL HHTP CLIENT</h1> <br>

<p>Los type y las interfaces son muy similares. Lso types no pueden extenderse, son mas cerrados</p> <br>  
<h1>Cuando construimos nuestra interfas, esta tiene un objeto interno, debemos crear otra interfas, no se acosutmbra definir otro objeto interno</h1>
