




<h1>los signal fue introducido en la versión 16 </h1> 
<p>Las señales sirve para saber exactamente donde se estan utilizando y esto ayuda a que angular a no realizar varios pasos para determinar  que lugares fueron afectados</p>
<hr>
<h1>
    Para obtener el valor de la señal tenemos que agregarle <b>signal()</b>
</h1>

<hr>

<p>Ayuda a angular hacer mucho mas rapido a la hora de renderizar, etc</p>
<p>actualizar tu angular <br/>
    <b>npm install -g "arroba"angular/cli</b>
</p>
<hr>
<h1>Señales - Signal</h1>
<p>
    Las señales son una forma de llegar a una variable de forma directa y actualzarla o renderizarla. <br>
    tres formas de actualizar, modificar una señal
    <b>set(establecer) , update(actualizar) y newstate(mutar)</b>
</p>

<hr>

<p>Las señales se limpian de manera automatica cuando ya no se usan</p>

<hr>

<p>Las <b>FUNCIONES COMPUTADAS</b>  son para menajr datos de solo lectura pero tambien para usarse para calcular otros valores que ya se manejan.</p>

<hr>

<p>En las versions de angular +17, ya no se usa el <b>mutate</b>, el update recibio mejoras</p>

<hr>

<h2><b>keyof User</b> lo usamos para recibir como parametros solamente keys de nuestra interfaz, para evitar errores de tipeo</h2>

<hr>


<p>Los efectos en las señales son para disparar algun efecto o acción ante un cambio de nuestra señal o señales. <b>LO IMPORTANTE ES QUE TIENE LIMPIEZA AUTOMATICA</b></p>
<hr>
<p>Nuestro efecto se dispara cuando lo creamos y cuando nuestra señal cambia</p>

<hr>

