<div>
    <h1>Listado de heroes</h1>

    <br><br>
    <p>en este ejemplo veremos el *ngif, else y ngTemplate, el #nothingWasDeleted es una referencia local </p>

    <button *ngIf="heroNames.length > 0" (click)="removeLastHero()" class="btn btn-outline-danger">Borrar último heroe</button>

    <div *ngIf="deleteHeroe; else nothingWasDeleted">
        <h3>
            Heroe borrado
            <span class="text-danger">{{deleteHeroe}}</span>
        </h3>
    </div>

    <ng-template #nothingWasDeleted>
        <h3>
            No ha borrado nada
        </h3>
    </ng-template>

    


    <ul class="mt-2 list-group">
        <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>
    </ul>
</div>

<div>
    <h1>¿Que es un modulo?</h1>
    <p>Es una simple clase con un decorador NgModule, el modulo es un agrupador, nos ayuda a encapsular una funcionalidad para poder compartirla,
        es una buena practica ordenarlo alfabeticamente 
    </p>

    <br>
    <br> 
    <h2>Pasos para usbir el proyecot a github</h2>
    <ol>
        <li>git init: al ingresar este comando, generamos una fotografia de nuestro proyecto</li>
        <li>git add -A: agregamos todos nuestros cambios</li>
        <li>git commit -m "resumen" : comentamos nuestros cambios</li>
        <li>git remote add origin https://github.com/jorzon/angular.git : con este comando indicamso qye vamos a agregar codigo a un repositorio remoto </li>
        <li>git branch -M main: le decimos a git que vamos a renombrar nuesrtra rama por "main"</li>
        <li>git push -u origin main: solo ingresamos este comando la primera vez. </li>
    </ol>

    <b>de esa manera subimos nuestros proyecto a nuestro repositorio remoto. Para futuros cambios solo utilizamos los comando número 2,3 y para subir los cambios
        solo usamos el "git push"
    </b>

    <br>

    <b>git checkout -- . : este comando lo utilizamos para deshacer todo los cambios que han habido desde que tomamos la fotografia</b>

    <br>
    <b>SI CLONAMOS NUESTRO REPOSITORIO EN OTRA COMPU, TENEMOS QUE CLONAR EL REPOSITORIO Y LUEGO INGRESAR EL COMANDO npm install, que nos ayudara a instalar toda las dependencias</b>

    <br><br><br>
</div>

