<p-panel header="Pipes no tan comunes" class="p-1">
    <p>Pipes incluidos en Angular - Usualmente en el Common Module </p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{name}}, es un placer 
                {{gender | i18nSelect:invitationMap}}
                a nuestro evento.
            </p>

            <p-button (click)="changeClient()" label="Cambiar persona">
                
            </p-button>
        </p-fieldset>
    </div>
    
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                Actualmente tenemos: {{clients.length | i18nPlural: clientMap}}
            </p>

            <p-button (click)="deleteClient()" label="Borrar cliente"></p-button>
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <p>El slicePipe nos sirve para cortar, similar para substring. Nos sirve para los arreglos</p>
            <b>Original</b>
            <pre>{{clients}}</pre>

            <br>
            <b>slice:0:2</b>
            <pre>{{clients | slice:0:2}}</pre>

            <br>
            <b>slice:2:4</b>
            <pre>{{clients | slice:2:4}}</pre>

            <br>
            <b>slice:0:-1</b>
            <pre>{{clients | slice:0:-1}}</pre>


        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <b>
                person | json
            </b>
            <pre>{{person | json}}</pre>
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <p>No olvidar que lo ordena de forma alfabetica</p>
            <ul>
                <li *ngFor="let item of person | keyvalue"> <b> {{item.key | titlecase}} : </b> {{item.value}}</li>
            </ul>
        </p-fieldset>
    </div>


    <div class="col-12 md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <p>
                se utiliza mas para observables que por promesas. Pero se usa para ambos
            </p>
            <pre>{{myObservableTimer | async }}</pre>
            <pre>{{promiseValue | async }}</pre>
            
        </p-fieldset>
    </div>

</div>

