<h1>Tipos de directivas</h1>
<p>Directivas estructurales ngIf ngFor</p>

<hr>

<h1>los signal fue introducido en la versión 16 </h1>  
<p>actualizar tu angular <br/>
    <b>npm install -g "arroba"angular/cli</b>
</p>

<hr>

<h1>Otra manera de hacer inyecciones</h1>
<b>private fb = inject(FormBuilder)</b>

<hr>

<h1>Crear una directiva</h1>
<b>ng g d shared/directives/customLabel</b>

<hr>

<p>Nuestro selector en nuestra directiva, podemos usarlo <b>customLabel</b> o <b>custom-label</b></p>


<hr>
<p>Las directivas deben ser declaradas en el modulo como un componente para ser utilizadas y exportadas para que sean usadas fuera del modulo</p>

<hr>

<h1>Señales - Signal</h1>
<p>
    Las señales son una forma de llegar a una variable de forma directa y actualzarla o renderizarla. <br>
    tres formas de actualizar, modificar una señal
    <b>set(establecer) , update(actualizar) y newstate(mutar)</b>
    señales de solo lectura y las opciones de efectos secundarios.
</p>

<hr>

<p>Las señales se limpian de manera automatica cuando ya no se usan</p>
